* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', serif;
  color: black;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  color: #05C2C9;
  font-weight: bold;
}

h4 {
  font-weight: 400;
  font-size: 22px;
}

p {
  font-size: 22px;
  font-family: 'Roboto Mono', monospace;
}

span {
  font-weight: bold;
  color: #E44D26;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

.header {
  background: no-repeat;
  height: 700px;
  background-size: cover;
}

.header .headerBG {
  background: rgba(102, 39, 39, 0.55);
  height: 100%;
  width: 100%;
}

.header .navbar .navbar-toggler {
  background: #b3b3b396;
}

.header .navbar .navbar-toggler:hover, .header .navbar .navbar-toggler:focus {
  background: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header .navbar .navbar-nav .nav-item {
  margin-left: 20px;
  position: relative;
}

.header .navbar .navbar-nav .nav-item a {
  color: #ffffff;
  font-size: 18px;
}

.header .navbar .navbar-nav .nav-item .active a {
  color: #05C2C9;
}

.header .navbar .navbar-nav .nav-item .active a:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #05C2C9;
}

.header .navbar .navbar-nav .nav-item:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header .navbar .navbar-nav .nav-item:hover a {
  color: #05C2C9;
}

.header .navbar .navbar-nav .nav-item:hover a:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #05C2C9;
}

.header .header__Info {
  height: 500px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.header .header__Info a {
  color: #05C2C9;
}

.header .header__Info button {
  width: 280px;
  padding: 0 5px;
  margin: 0 auto;
  letter-spacing: 0.25em;
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.header .header__Info button:hover {
  background: #05C2C9;
  border: #05C2C9;
}

.header .header__Info button:hover i {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .header__Info button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.aboutMe {
  background: #F8F8F8;
}

.aboutMe .aboutMe__content .img__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutMe .aboutMe__content .img__content img {
  width: 200px;
  height: 200px;
  border-radius: 40%;
}

.aboutMe .aboutMe__content p {
  text-align: justify;
  margin: 0;
}

.aboutMe .my__Skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMe .my__Skill .skill__content {
  width: 100%;
}

.aboutMe .my__Skill .skill__content .col {
  padding: 0;
  text-align: center;
}

.aboutMe .my__Skill .skill__content .col img {
  width: 50px;
  height: 50px;
}

.aboutMe .my__Skill .skill__content .bar__Style {
  padding: 0;
  background: #b3b3b396;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutMe .my__Skill .skill__content .bar__Style .bar__Fill {
  background: #E44D26;
  height: 24px;
}

.aboutMe .my__Skill .skill__content .bar__Style .bar__Fill .tag {
  width: 110px;
  background: #c7745f;
  text-align: center;
  color: #ffffff;
}

.aboutMe .my__Skill .skill__content .bar__Style span {
  color: #000000;
}

.myProject .myProjectContent .projectItem {
  position: relative;
}

.myProject .myProjectContent .projectItem img {
  border: 1 solid transparent;
  border-radius: 5px;
}

.myProject .myProjectContent .projectItem:hover .item__Info {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  opacity: 1;
}

.myProject .myProjectContent .projectItem .item__Info {
  border: 1 solid transparent;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  position: absolute;
  background: #05C2C9;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}

.myProject .myProjectContent .projectItem .item__Info .content {
  text-align: center;
}

.myProject .myProjectContent .projectItem .item__Info .content h4 {
  color: #E44D26;
}

.myProject .myProjectContent .projectItem .item__Info .content p {
  color: #000000;
}

.myProject .myProjectContent .projectItem .item__Info .content .form-group button {
  padding: 0 5px;
  margin: 0 auto;
  letter-spacing: 0.25em;
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  margin: 10px;
}

.myProject .myProjectContent .projectItem .item__Info .content .form-group button:hover {
  background: #c7745f;
  border: #c7745f;
}

.myProject .myProjectContent .projectItem .item__Info .content .form-group button:hover i {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.myProject .myProjectContent .projectItem .item__Info .content .form-group button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.myProject .myProjectContent .projectItem .item__Info .content .form-group button a {
  color: #ffffff;
}

.contactMe {
  background: #F8F8F8;
}

.contactMe .contactMe__content {
  width: 80%;
  margin: 0 auto;
}

.contactMe .contactMe__content p:hover {
  color: #05C2C9;
}

.contactMe .contactMe__content a {
  color: #000000;
}

.contactMe .contactMe__content a:hover {
  color: #05C2C9;
}
/*# sourceMappingURL=main.css.map */