@mixin bottomLine($lineHeigh, $color){
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: $lineHeigh;
    left: 0;
    bottom: 0;
    background-color: $color;
}