// Color
$color-black: #000000;
$color-white: #ffffff;
$color-blue-0:#05C2C9;
$color-orange-0: #E44D26;
$color-orange-1: #c7745f;
$color-gray-0: #b3b3b396;
$color-gray-1: #F8F8F8;

// Font Size
$fs-0: 18px;
$fs-1: 22px;
$fs-2: 30px;
$fs-3: 40px;
$fs-4: 50px;
$fs-5: 60px;

// Padding
$pd-0: 2px;
$pd-1: 5px;
$pd-2: 10px;
$pd-3: 20px;
$pd-4: 30px;

// Margin
$mg-0: 2px;
$mg-1: 5px;
$mg-2: 10px;
$mg-3: 20px;
$mg-4: 30px;